html{
    background-color:#ecf0f1;
    color: #d35400;
    font-family: 'Chela One', cursive;
    font-weight: 300; 
    text-rendering: optimizeLegibility;
    text-align: center;
}


li {
    font-family: "Lato", sans-serif; 
    list-style:none; 
}
.cat-bios{
    background-color:#bdc3c7; 
    display: inline-block; 
    text-align: center; 
    margin-right:auto; 
    margin-left:auto; 
}
.box{
    float: left; 
    display: block; 
    width: 25%; 
    
    margin-right: auto;
    margin-left:auto; 
}
img{
   display: block; 
    width: 80%; 
    align-content: center; 
    border-radius:50%; 
    margin-left: auto; 
    margin-right: auto; 
}

h1{
   font-size:100px; 
}

h2{
    font-size:60px;   
}

h3{
    font-size: 30px; 
}